{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
      <tr>
        <th class="text-start" scope="col">Symbol</th>
        <th class="text-start" scope="col">Name</th>
        <th class="text-end" scope="col">Shares</th>
        <th class="text-end" scope="col">Price</th>
        <th class="text-end" scope="col">Operation</th>
        <th class="text-end" scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
        {%for row in rows%}
      <tr>
        <td class="text-start">{{row.symbol}}</td>
        <td class="text-start">{{row.name}}</td>
        <td class="text-end">{{row.shares}}</td>
        <td class="text-end">{{row.price}}</td>
        <td class="text-end">{{row.operation}}</td>
        <td class="text-end">{{row.timestamp}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
